name: Release

on:
  push:
    branches:
      - master

permissions:
  contents: write # Required to create releases and git tags
  issues: write   # Required to comment on issues
  pull-requests: write # Required to comment on PRs

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth:

      # TODO: Add dependency install and build step for CMake project

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "lts/*"

      - name: Install dependencies
        run: npm install semantic-release @semantic-release/git @semantic-release/changelog -D

      - name: Release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: npx semantic-release
